*{
    box-sizing: border-box;
    
}
body{
    background: white;
}
a{
    text-decoration: none;
}
header{
    width: 100%;
    height: 160px;
    background: #0F637A;  
    margin-top: 0;
    
}
button{
    background-color: rgb(206, 200, 21);
    border: none;
    color: #ffffff;
    padding: 8px 15px;
    border-radius: 6% 6% 6% 6%;
    margin: 6px 4px;
    cursor: pointer;/*altera o icone do mouse*/
}
#cabecalho img{
    padding: 60px 0px 60px 92px ;
}
form{    
    padding-top: 20px;
    margin-right: 92px;    
    border-style: none;
    align-items: center;
    color: #ffffff;
    float: right;
}
input{
    margin: 5px 5px 5px 5px;
}
section#artigo1 {
    padding: 5px 5px 5px 92px;    
    float: left;
    max-width: 500px;
    
}
article#tabela1 {
    background: #ffffff64;
    padding: 5px 5px 5px 5px;
    margin-top: 220px;
    float: right;   
    size: 20pt;
    box-shadow: 1px 1px 1px 0.5px;
    border: 1px solid #ddd;     
}
section#artigo2 {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 5px 5px 5px 92px;    
    float: right;
    max-width: 500px;
    
    
}
article#tabela2 {
 
    margin-top: 250px;       
    float: left;       
    box-shadow: 1px 1px 1px 0.5px;
    border: 1px solid #ddd;

}
table{
    
    border-collapse: collapse;
    margin: auto;
    align-items: left;
    text-align:left;
}
td{
    padding: 10px 10px 10px 50px;
    font-size: 15pt;    
    text-decoration: none;
}
tr{    
    font-size: 15pt;
    white-space: 5px;
    text-decoration: none;
}
.btn{
    padding: 5px 5px 5px 5px;
    background: rgb(206, 200, 21);
    text-decoration: none;

}
.price{
    text-transform: uppercase;
    color:#0F637A ;
}
