*{
    box-sizing: border-box;
    
}
header{
    background: #0F637A;  
}
#cabecalho img{
    padding: 60px 0px 60px 92px ;
}
form{    
    padding-top: 20px;
    margin-right: 92px;    
    border-style: none;
    align-items: center;
    color: #ffffff;
    float: right;
}
input{
    margin: 5px 5px 5px 5px;
}
.login{
    margin: 5px auto 5px auto;
    padding: 10px 10px 10px 10px;
    background-color:rgb(219, 182, 18);
    border-radius: 10%;    
    font-size: 10pt;    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    border-style: none;    
    text-decoration: none;
}
section#artigo1 {
    padding: 5px 5px 5px 92px;    
    float: left;
    max-width: 900px;
}
article#tabela1 {
    background: #ffffff64;
    padding: 5px 5px 5px 5px;
    margin-top: 100px;
    margin-right: 500px;
    float: right;   
    size: 20pt;
    box-shadow: 1px 1px 1px 0.5px;
    border: solid #ffffff67;       
}
section#artigo2 {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 5px 5px 5px 92px;    
    float: left;
    max-width: 900px;
}
article#tabela2 {
    padding: 5px 5px 5px 5px; 
    margin-top: 150px;   
    margin-right: 500px;
    float: right;   
    size: 20pt;
    box-shadow: 1px 1px 1px 0.5px;
    border: solid #ffffff67;

}
.btn{
    margin: 5px auto 5px auto;
    padding: 10px 10px 10px 10px;
    background-color:rgb(219, 182, 18);
    border-radius: 5%;    
    font-size: 10pt;    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    border-style: none;    
    text-decoration: none;
    align-items: center;
}
td{
    padding: 10px 10px 10px 50px;
    font-size: 15pt;
    word-spacing: 5px;
}
tr{    
    font-size: 15pt;
    white-space: 5px;
}
footer{
    background:  #0F637A;    
    color: #ffffff;
    margin-top: 980px;     
    align-items: center; 
    padding: 60px 0px 60px 900px ;
}