body{
    
    padding: 0;
    margin: 0;
    font-family: caveat;        
    background-size: 400% 400%;
    animation: backgroundTransition 1s ease-in-out infinite;    
    
}
table{
    
    text-align: left;
    justify-content: justify;
    display: flow-root;
    position: relative;
    
}
tbody{
    align-items: center;
}
.corpo{
    text-align: center;
}
.rodape{
    max-block-size: 0%;
    margin-top: 200px;
    padding: 50px;
    align-items: center;
    font-family: caveat;
    background:#0F637A;
    color: white;
    
}
.conteudo{
    

    
}
.tabela{
    align-items: center;
    border: 0.5;
}
.cabecalho{
    
    background: #0F637A;
}
.cabecalho img{
    margin-right: 900px;
}
.tabela{
    margin-left: 500px
    ;
}
.card-container{
    background: black;
}