h3{
    background-color:red;
    padding: 16px; /*espaçamento interno*/
}
.box1{
    background-color: coral;
    padding: 16px;
}
.box2{
    background-color: green;
}
.box3{
    background-color: blue;
}
.box4{
    background-color: purple;
}