thead#banner{
    background: #679901;
    color:white;
}
tbody#tabela{
    background:white;
    
}
.libertadores{
    color: #679901;
    
}
.sulamericana{
    color: orange;
}
.rebaixamento{
    color: red;
}